USE [master]
GO
/****** Object:  Database [Healthy_PC]    Script Date: 14/11/2021 19:57:24 ******/
CREATE DATABASE [Healthy_PC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Healthy_PC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Healthy_PC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Healthy_PC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Healthy_PC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Healthy_PC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Healthy_PC]
GO
/****** Object:  Table [dbo].[Actualizacion]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actualizacion](
	[Version_Programa] [varchar](15) NOT NULL,
	[Enlace] [varchar](max) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Version_Programa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pruebas_Crudo]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pruebas_Crudo](
	[ID_Usuario] [int] NOT NULL,
	[Procesador_Act] [varchar](max) NOT NULL,
	[Mononucleo] [float] NOT NULL,
	[Multinucleo] [float] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pruebas_Prom]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pruebas_Prom](
	[Proc_Act] [varchar](100) NOT NULL,
	[Mononucleo] [float] NOT NULL,
	[Multinucleo] [float] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Proc_Act] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo_Electronico] [varchar](50) NOT NULL,
	[Contraseña] [varchar](16) NOT NULL,
	[Procesador_Act] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Correo_Electronico] PRIMARY KEY CLUSTERED 
(
	[Correo_Electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo_Electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CB_Top]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[CB_Top]
As
Select * from Pruebas_Prom
GO
/****** Object:  StoredProcedure [dbo].[CBox_Top]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[CBox_Top]
As
Select * from Pruebas_Prom
GO
/****** Object:  StoredProcedure [dbo].[CBx_Top]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[CBx_Top]
As
Select * from Pruebas_Prom order by Multinucleo asc
GO
/****** Object:  StoredProcedure [dbo].[Combobox]    Script Date: 14/11/2021 19:57:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[Combobox]
As
Select * from Pruebas_Prom order by Multinucleo desc
GO
USE [master]
GO
